ol:not(header ol):not(footer ol) {
    display: block;
    list-style-type: decimal;
    margin-top: .5em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
}

ul:not(header ul):not(footer ul) {
    display: block;
    list-style-type: disc;
    margin-top: .5em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
}

li:not(header li):not(footer li) {
    display: list-item;
}
