.photos {
    width: 100%;
    aspect-ratio: 8/2;
    object-fit: contain;
    /* mix-blend-mode: color-burn; */
}

.truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
scrollbar {
    width: 10px !important;
    height: 10px !important;
    background-color: #d6d0d0 !important;
}

scrollbar-thumb {
    background-color: #939393 !important;
    border-radius: 10px
}

scrollbar-thumb:hover {
    background-color: #7e7d7d !important;
}

::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
    background-color: #d6d0d0 !important
}

::-webkit-scrollbar-thumb {
    background-color: #939393 !important;
    border-radius: 10px !important
}

::-webkit-scrollbar-thumb:hover {
    background-color: #7e7d7d !important;
}
